@font-face {
  font-family: 'iconfont';  /* project id 1481503 */
  src: url('https://at.alicdn.com/t/font_1481503_dlhabdgborg.eot');
  src: url('https://at.alicdn.com/t/font_1481503_dlhabdgborg.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1481503_dlhabdgborg.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1481503_dlhabdgborg.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1481503_dlhabdgborg.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1481503_dlhabdgborg.svg#iconfont') format('svg');
}
